extends layout

block page_name
  = _("Slackmond")

block content
  p= _("There is nothing here. You must integrate Slackmond with Slack first, then you'll be prompted to activate your Almond account.")
